# Flutter/Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
*.lock

# IDE
.vscode/
.idea/
*.iml

# Platform build outputs
android/.gradle/
android/local.properties
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
linux/flutter/ephemeral/